/* ALL */
/* .body {
	background-image: url("../public/background.png");
	background-size: cover;
	background-repeat: no-repeat;
} */

body {
	background-color: transparent;
}

.homepage-content,
.homepage-title,
.homepage-prompt,
.council-content {
	background-color: transparent;
}

/* PAGE STAGE 1 - HOMEPAGE */

.homepage-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100vh; 
    text-align: center;  */
}

.homepage-title {
	margin-top: 160px;
}

.homepage-h1 {
	font-size: 80px;
	font-weight: 900;
}

.homepage-prompt {
	display: flex;
	align-items: center;
}

.prompt-input {
	min-width: 488px;
	vertical-align: middle;
	/* flex-grow: 1; */
	margin-right: 12px;
}

.submit-button {
	vertical-align: middle;
}

/* PAGE STAGE 2 - THE COUNCIL */

.council-title {
	font-size: 80px;
	font-weight: 900;
	/* margin-top: 100px; */
}

.council-query-label {
	font-size: 20px;
}

.council-query {
	font-size: 24px;
	font-weight: 900;
}

.council-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.council-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
	gap: 20px;
}

.council-card {
	width: 590px;
	height: 220px;
	padding: 20px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #46537a, #203864);
	color: #ffffff;
	font-size: 20px;
}

.council-card-message {
	margin-bottom: 20px;
}

.council-card-member {
	display: flex;
	align-items: center;
}

.council-card-member-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: grey;
	/* background-image: url('path/to/your-image.jpg');
    background-size: cover; */
	margin-right: 10px;
}
